@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
    --ui-primary: var(--color-indigo-500);
}

#__nuxt {
    height: 100%;
}